In [1]:
import pandas as pd
import os

In [2]:
!pip install tika

Requirement already satisfied: tika in c:\users\shekh\anaconda3\lib\site-packages (1.24)
Requirement already satisfied: requests in c:\users\shekh\anaconda3\lib\site-packages (from tika) (2.22.0)
Requirement already satisfied: setuptools in c:\users\shekh\anaconda3\lib\site-packages (from tika) (45.2.0.post20200210)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shekh\anaconda3\lib\site-packages (from requests->tika) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\shekh\anaconda3\lib\site-packages (from requests->tika) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\shekh\anaconda3\lib\site-packages (from requests->tika) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\shekh\anaconda3\lib\site-packages (from requests->tika) (3.0.4)

In [3]:
from tika import parser 
df = pd.DataFrame(columns = ['CandidateID', 'resume', 'cleaned_resume'])
for dirname, _, filenames in os.walk('./trainResumes'):
    for filename in filenames:
        path = os.path.join(dirname, filename)
        raw = parser.from_file(path)
        df = df.append({'CandidateID' : filename[:-4], 'resume' : " ".join(raw['content'].strip().split('\n')[1:]), 'cleaned_resume' : ""}, 
                ignore_index = True)
df

2021-09-02 17:46:51,573 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...

,CandidateID,resume,cleaned_resume
0,candidate_000,"JACOB SMITH F R E S H E R SKILLS Python, S...",
1,candidate_001,Brianna Williams J U N I O R D E V E L O P ...,
2,candidate_002,"AMZ Loans and Mortgages ERC Analytics, Jun 2...",
3,candidate_003,P R O F I L E Extremely motivated to consta...,
4,candidate_006,JENNIFER ARMSTRONG P R O F I L E Fresher Co...,
...,...,...,...
85,candidate_144,BENJAMIN OSTA F R E S H E R D E V E L O P ...,
86,candidate_145,"Coca-COla Big Data Analyst, Nov 2019 to Til...",
87,candidate_147,Jaroslav Chechnik F R E SHER Executive Prof...,
88,candidate_148,P R O F I L E A data science professional w...,
89,candidate_149,MIRAD YASTEIN A N A L Y S T I N T E R N SK...,

In [4]:
df.resume[4]

'  JENNIFER ARMSTRONG  P R O F I L E Fresher Computer vision and Machine Learning  Engineer looking for a job that is both challenging  and fun in terms of problem-solving. Also an expert  in maintaining and managing Tableau and Power BI  dashboards to address business.  S K I L L S  Machine learning, Deep learning,  Computer vision, Image processing,  Neural networks, Contextual Reasoning.  E X P E R I E N C E  Currently No Professional Experience  E D U C A T I O N  B.Tech Computer Science from IIT Guwahati, 2021  C O M P U T E R  V I S I O N  E N T H U S I A S T  A C T I V I T I E S  Distinction medalist.   Honorary member of Student Council for  innovation.   Innovator of the year runner up at I IT  Conjugation.   P R O J E C T S  Understanding images   GAN based modern fashion portal  Corporate Attendance using Face  Recognition'

In [5]:
print (df['cleaned_resume'][4])

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.naive_bayes import MultinomialNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import re

In [7]:
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [8]:
df['cleaned_resume'] = df.resume.apply(lambda x: cleanResume(x))
print (df['cleaned_resume'][2])

 AMZ Loans and Mortgages ERC Analytics Jun 2019 to till date Handling data of employees and finding retention factors and employee satisfaction Worked Closely with the HR team to find a balance that was beneficial for both employees and the Company B Tech B E Electronics Telecommunication from Nagpur University in 2019 WORK EXPERIENCE EDUCATION MASON QUADRADO ASSOCIATE ANALYST Certified Data analyst with a degree in Electronics Engineering I have hands on experience in analyzing interpreting data with good numerical a uracy Python Machine Learning MySQL Data Mining Deep Learning Data Analysis Computer Vision Flask API Predictive Modeling AWS Scikit Learn Numpy Statistical Analysis Multivariate Analysis Decision Trees Random Forest Xgboost NLP ABOUT SKILLS Deep Learning based pattern matching Auto Color Grading using Python Google Cloud Certified PROJECT OTHER QUALIFICATION

In [9]:
train = pd.read_csv("train.csv")
train.set_index('CandidateID',inplace=True)
df.set_index("CandidateID",inplace=True)

In [10]:
df.head()

,resume,cleaned_resume
CandidateID,,
candidate_000,"JACOB SMITH F R E S H E R SKILLS Python, S...",JACOB SMITH F R E S H E R SKILLS Python SQL M...
candidate_001,Brianna Williams J U N I O R D E V E L O P ...,Brianna Williams J U N I O R D E V E L O P E ...
candidate_002,"AMZ Loans and Mortgages ERC Analytics, Jun 2...",AMZ Loans and Mortgages ERC Analytics Jun 201...
candidate_003,P R O F I L E Extremely motivated to consta...,P R O F I L E Extremely motivated to constant...
candidate_006,JENNIFER ARMSTRONG P R O F I L E Fresher Co...,JENNIFER ARMSTRONG P R O F I L E Fresher Comp...

In [11]:
train = train.join(df)
train

,Match Percentage,resume,cleaned_resume
CandidateID,,,
candidate_011,13.60,L I A M A N D R E W S FRESHER WORK EXPERIE...,L I A M A N D R E W S FRESHER WORK EXPERIENCE...
candidate_113,36.63,Ellie Mackey F R E S H E R I N T E R N Exe...,Ellie Mackey F R E S H E R I N T E R N Execut...
candidate_123,54.93,"Telco Trainee Intern, May 2018 - Dec 2018 ...",Telco Trainee Intern May 2018 Dec 2018 Data H...
candidate_012,41.46,JIMMY GARTNER D A T A M A N A G E ...,JIMMY GA NER D A T A M A N A G E R PROFESSION...
candidate_002,48.91,"AMZ Loans and Mortgages ERC Analytics, Jun 2...",AMZ Loans and Mortgages ERC Analytics Jun 201...
...,...,...,...
candidate_133,54.20,Drew Hall A S S O C I A T E M A C H I N E ...,Drew Hall A S S O C I A T E M A C H I N E L E...
candidate_137,60.18,SHAWN BUFFET D A T A P R O C E S S I N G ...,SHAWN BUFFET D A T A P R O C E S S I N G I N ...
candidate_072,44.94,N A D I Y A A H M A D DATA ANALYST WORK EX...,N A D I Y A A H M A D DATA ANALYST WORK EXPER...
candidate_140,11.41,Stella Thatcher A S S O C I A T E M A R K E...,Stella Thatcher A S S O C I A T E M A R K E T...
candidate_037,56.70,N A O M I J A C K S O N JUNIOR SDE-MACHIN...,N A O M I J A C K S O N JUNIOR SDE MACHINE LE...

In [12]:

import nltk
from nltk.corpus import stopwords
import string
from wordcloud import WordCloud

oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords =[]
Sentences = train['resume'].values
cleanedSentences = ""
for i in range(0,90):
    cleanedText = cleanResume(Sentences[i])
    cleanedSentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
    
wordfreqdist = nltk.FreqDist(totalWords)
mostcommon = wordfreqdist.most_common(50)
print(mostcommon)
wc = WordCloud().generate(cleanedSentences)

[('E', 422), ('I', 379), ('Data', 260), ('A', 255), ('R', 227), ('S', 208), ('N', 207), ('Learning', 204), ('T', 188), ('Machine', 162), ('C', 158), ('O', 138), ('L', 136), ('data', 129), ('2019', 111), ('Python', 105), ('Analysis', 105), ('P', 104), ('D', 99), ('B', 90), ('2020', 86), ('Tech', 68), ('using', 60), ('learning', 59), ('Analytics', 59), ('Deep', 58), ('SKILLS', 53), ('based', 52), ('U', 50), ('Science', 49), ('F', 45), ('Business', 45), ('M', 44), ('G', 43), ('V', 43), ('Processing', 42), ('University', 42), ('Analyst', 41), ('WORK', 39), ('Engineer', 39), ('J', 39), ('PROFILE', 38), ('PROJECTS', 37), ('H', 37), ('Natural', 37), ('models', 35), ('NLP', 34), ('SQL', 33), ('Software', 33), ('Language', 32)]

In [13]:
train.drop(columns=['resume'],inplace=True)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
test = pd.read_csv('cleaned_test.csv')
test_feature = test['cleaned_resume']

In [16]:
feature = train.cleaned_resume
vectorizer = TfidfVectorizer()
v_feature = vectorizer.fit_transform(feature).toarray()
test_feature = vectorizer.transform(test_feature).toarray()

In [17]:
labels = []
for i in train['Match Percentage']:
    labels.append(i)

In [18]:
labels = np.array(labels)

In [19]:
labels = labels.reshape(-1,1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(labels)
s_labels = scaler.transform(labels)

from sklearn.tree import DecisionTreeRegressor as DTC
clf = DTC()
clf.fit(v_feature,labels)
print(clf.score(v_feature,labels))

In [40]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(v_feature,labels)
print(clf.score(v_feature,labels))

0.8968086735873545

In [41]:
###for i in clf.feature_importances_:
###   print(i)
importances = clf.feature_importances_
import numpy as np
indices = np.argsort(importances)[::-1]
print('Feature Ranking: ')
for i in range(10):
    print("{} feature no.{} ({})".format(i+1,indices[i],importances[indices[i]]))

Feature Ranking:
1 feature no.490 (0.11836941758966019)
2 feature no.272 (0.051209863922166185)
3 feature no.1572 (0.043946431928653044)
4 feature no.4 (0.041080515276880065)
5 feature no.1169 (0.0358357866461849)
6 feature no.1560 (0.03497942938672025)
7 feature no.1216 (0.032766024063472204)
8 feature no.1937 (0.02715058575964284)
9 feature no.727 (0.024937613449711144)
10 feature no.1831 (0.017795371871807523)

In [42]:
vectorizer.get_feature_names()[490]

'data'

In [43]:
pred = clf.predict(test_feature)

In [44]:
pred

array([29.7509, 39.7867, 37.8108, 38.3844, 35.3629, 42.689 , 44.4593,
       48.0812, 33.4511, 43.1745, 34.1077, 45.287 , 33.6921, 35.4908,
       50.1232, 27.687 , 38.0643, 44.0426, 42.4397, 37.8461, 38.1094,
       37.4072, 40.6994, 28.1992, 33.9972, 34.0133, 35.2913, 38.6293,
       47.0448, 43.8762, 44.2553, 40.147 , 40.4601, 36.0539, 36.1101,
       37.449 , 42.74  , 35.7989, 35.7191, 31.7154, 33.9598, 48.084 ,
       45.3629, 36.1338, 37.7881, 44.0074, 33.5409, 33.6249, 44.6731,
       35.6287, 30.0424, 33.1594, 42.8323, 37.5456, 42.0339, 34.2109,
       40.1859, 41.0334, 38.8592, 37.6809])

In [45]:
Id = test['CandidateID']

In [46]:
data  ={'CandidateID':Id,'Match Percentage':pred}

In [47]:
output = pd.DataFrame(data)

In [48]:
output.to_csv("submission.csv")

In [ ]:
import